@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Playfair+Display&display=swap');
@counter-style thumbs {
    system: cyclic;
    symbols: "\1F44D";
    suffix: " ";
}

body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
    font-size: 200%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
h1{
    font-size: 100px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    margin: auto;

    border: 3px;
    text-align: center;
}

ul {

    margin: auto;
    padding-top: 0;
}

li {
    text-align: left;
    background-color: #232323;
    list-style-type: "\1F44D";
}


.inputButton {
    background-color: black;
    border: none;
    color: white;
    font-size: 150%;
    padding: 20px;
    margin: 10px;
    font-family: 'Chivo', sans-serif;
}

.inputButton:hover {
    background-color: #101010;
    color: white;
    cursor: pointer;

}

.inputText {
    width: 70%;
    transition: padding 0.4s ease-in-out;
    font-size: 20px;
    text-align: center;

}
.inputText:focus{
    padding: 20px;
    font-size: 25px;
}
.inputText:focus::placeholder{
    color: transparent;
}
.todoform{
    background-color: black;
}